/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #16161a;
    --paragraph-color: #FFFFFE;
    --paragraph2-color: #5f6c7b;
    --button-color: #2CB67D;
}

body {
    background-color: var(--white-color);
    color: var(--primary-color);
    position: relative;
    height: 100%;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    color: var(--paragraph-color);
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

i {
    margin: 0;
    padding: 0;
}

span>a {
    color: var(--paragraph2-color);
    opacity: 50%;
}

#dropdown-btn{
    display: none;
}


/* Navigation */

.navigation .container {
    justify-content: space-between;
    padding: 20px 20px;
}

.navigation .container h4 {
    letter-spacing: 0.2em;
    font-weight: 300;
    font-style: italic;
}

.navigation nav ul {
    display: flex;
    list-style: none;
}

.navigation nav ul li {
    padding: 0 30px;
}

.navigation nav ul li:last-child {
    padding-right: 0;
}

.navigation nav ul li a {
    /* padding: 0 30px; */
    color: var(--paragraph-color);
    text-decoration: none;
    letter-spacing: 0.2em;
}


/* Header */
.header .container {
    flex-direction: column;
    margin: 200px auto;
    margin-bottom: 110px;
    max-width: 1000px;
    padding: 20px;
    /* align-items: flex-end; */
}

.header .container h1,
.header .container p {
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph2-color);
}

.header .container h1 {
    font-size: 64px;
    font-weight: 700;
}

.header .container p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
}


/* Projects */
.project .container {
    width: 100%;
    height: auto;
    margin: 80px 0;
    padding: 0 150px;
}

.project h2 {
    color: var(--paragraph2-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.project h3,
.project p {
    margin: 5px;
    color: var(--paragraph-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

button {
    margin: 5px;
    cursor: pointer;
}

.card-button {
    width: 70px;
    height: 30px;
    border-style: none;
    background-color: var(--button-color);
    color: var(--paragraph-color);
    outline: none;
    font-size: 12px;
}

.project h2 {
    font-size: 40px;
}

.project h3 {
    font-size: 23px;
    margin-bottom: 5px;
}

.project p {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

#frame-1,
#frame-2,
#frame-3 {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0.5px #5f6c7b;

}

.frame {
    width: 100%;
    height: auto;
    position: relative;
    /* background-color: #C4C4C4; */
    /* margin: 40px 0; */
}

.frame-nav {
    justify-items: center;
    align-items: center;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 20%;
    text-align: center;
    /* opacity: 60%; */
}

.frame-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -39px;
    background-color: var(--paragraph2-color);
    border-radius: 10px;
    opacity: 60%;
    z-index: -99;
    transition: opacity 0.3s ease-in;
}

.pop {
    display: block;
    z-index: 99;
}

/* Footer */
.footer .container {
    max-width: unset;
    width: 100%;
    margin: 0;
}

.footer-content {
    width: 100%;
    margin: 0;
    padding: 30px;
    /* text-align: end; */
    /* background-color: #16161a; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--paragraph-color);
    letter-spacing: 0.3em;
}


.show{
    display: block;
}

/* Tablets and under */
/* Tablet */
@media(max-width:1200px) {
    .grid-col-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .frame {
        margin-bottom: 20px;
    }
}

@media(max-width:650px) {
    #dropdown-btn{
        color: white;
        display: block;
    }
    
    #navbar .dropdown-item{
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        align-items: center;
        justify-content: space-evenly;
        height: 170px;
    }

    .navigation nav ul li:last-child {
        padding-right: 30px;
    }

    #navbar ul > div {
        position: absolute;
        background-color: var(--primary-color);
        opacity: 80%;
        filter: blur(1px);
        width: 100%;
        height: 170px;
        z-index: -99;
    }

    #frame-1,
    #frame-2,
    #frame-3 {
        width: 500px;
        height: auto;
        margin: 0;
        border-radius: 10px;
        box-shadow: 2px 5px 5px 0.5px #5f6c7b;

    }

}

/* Phone */
@media(max-width:500px) {
    .container {
        padding: 10px;
    }

    .gradient-bg {
        height: 78px;
    }

    .navigation .container {
        position: relative;
        height: 78px;
    }

    .navigation .container > h4 {
        margin-right: 30px;
    }

    #navbar > .dropdown-item{
        top: 77.9px;
    }

    #dropdown-btn {
        margin-top: 10px;
    }

    .header .container {
        margin: 120px 0;
    }

    .header .container h1,
    .header .container p {
        font-family: 'Roboto', sans-serif;
        color: var(--paragraph2-color);
        line-height: 1.5em;
        text-align: justify;
    }

    .header .container h1 {
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .header .container p {
        font-size: 14px;
    }

    .responsive {
        margin-right: 110px;
    }

    span>a {
        color: var(--paragraph2-color);
        opacity: 50%;
    }

    .grid-col-3 {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .project .container {
        width: 100%;
        height: auto;
        margin: 30px 0;
        padding: 10px;
    }

    #frame-1,
    #frame-2,
    #frame-3 {
        width: 100%;
        height: auto;
    }

    .footer .container {
        padding: 0;
    }

    .footer .container>.gradient-bg {
        height: auto;
    }

    .footer-content {
        text-align: center;
    }

}