/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #16161a;
    --paragraph-color: #FFFFFE;
    --paragraph2-color: #5f6c7b;
    --button-color: #2CB67D;
}

body {
    background-color: var(--white-color);
    color: var(--primary-color);
    position: relative;
    height: 100%;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    color: var(--paragraph-color);
    font-family: 'Raleway', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

i {
    margin: 0;
    padding: 0;
}

span>a {
    color: var(--paragraph2-color);
    opacity: 50%;
}

/* Navigation */

.navigation {
    position: fixed;
    z-index: 99;
}
.navigation .container {
    justify-content: space-between;
    padding: 20px 20px;
}

.navigation .container h4 {
    letter-spacing: 0.2em;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
}


#dropdown-btn{
    display: none;
}

#dropdown-item {
    display: flex;
    list-style: none;
}

#dropdown-item li {
    padding: 0 30px;
}

#dropdown-item li:last-child {
    padding-right: 0;
}

#li_blog,
#li_project,
#li_cv {
    /* padding: 0 30px; */
    color: var(--paragraph-color);
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 13px;
    font-weight: 300;
}


/* Header */
.header {
    padding-top: 150px;
}

.header .container {
    flex-direction: column;
    margin: auto;
    margin-bottom: 110px;
    max-width: 1000px;
    padding: 20px;
    /* align-items: flex-end; */
}

.header .container h1,
.header .container p {
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph2-color);
}

.header .container h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 1rem 0;
}

.header .container p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    text-align: justify;
}


/* Projects */
.project .container {
    width: 100%;
    height: auto;
    margin: 80px 0;
    padding: 0 150px;
}

.project h2 {
    color: var(--paragraph2-color);
    text-align: center;
    line-height: 0.9em;
    letter-spacing: 3px;
}

.project h3,
.project p {
    margin: 5px;
    color: var(--paragraph-color);
    font-family: 'Roboto', sans-serif;
    z-index: 99;
}

.project a {
    text-decoration: none;
    color: #FFFFFE;
}
button {
    cursor: pointer;
    margin: 5px;
}

.card-button {
    width: 70px;
    height: 30px;
    border-style: none;
    background-color: var(--button-color);
    color: var(--paragraph-color);
    outline: none;
    font-size: 12px;
}

.card-container {
    top: 65%;
    z-index: 99;
}

.project h2 {
    font-size: 40px;
}

.project h3 {
    font-size: 23px;
    top: 30%;
}

.project p {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    top: 45%;
}

.frame {
    position: relative;
    max-width: 500px;
    min-width: 350px;
    margin: 0 auto;
}

.frame-background {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #5f6c7b;
    opacity: 30%;
    z-index: -99;
}

.project-item {
    position: relative;
}

.project-item > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.p-item-container {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 1px solid red; */
    /* padding-top: 15%; */
}

/* Footer */
.footer .container {
    max-width: unset;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.footer-content {
    width: 100%;
    border-top: 1px solid #bcbfc2;
    margin: 0;
    padding: 25px;
    /* text-align: end; */
    /* background-color: #16161a; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--paragraph2-color);
    letter-spacing: 0.1em;
}

.footer-content p {
    font-size: 11px;
}

.show{
    display: block;
}


.hid{
    display: none;   
}

.expand{
    height: 100px;
}
/* Tablets and under */
/* Tablet */
@media(max-width:1200px) {
    .grid-col-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .header .container {
        max-width: 800px;
    }

    .header .container h1 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

@media(max-width:650px) {
    .header .container {
        max-width: 400px;
    }

    #dropdown-btn{
        color: white;
        display: block;
    }
    
    #dropdown-item{
        /* display: block; */
        flex-direction: column;
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        height: 170px;
    }

    /* #li_blog,
    #li_project,
    #li_cv,
    #dropdown-item div {
        display: none;
    } */

    #dropdown-item li:last-child {
        padding-right: 30px;
    }

    #dropdown-item > div {
        position: absolute;
        top: 0;
        background-color: var(--primary-color);
        width: 100%;
        height: 210px;
        z-index: -99;
    }  
}

/* Phone */
@media(max-width:500px) {
    .container {
        padding: 10px;
    }


    .header .container {
        max-width: 100%;
    }

    .gradient-bg {
        height: 78px;
    }

    .navigation .container {
        position: relative;
        height: 78px;
    }

    .grey {
        height: auto;
    }

    .navigation .container > h4 {
        margin-right: 30px;
    }

    #dropdown-item{
        top: 77.9px;
    }

    #dropdown-btn{
        margin-top: 10px;
    }

    .header .container {
        margin: 0;
        margin-bottom: 70px;
    }

    .header .container h1,
    .header .container p {
        font-family: 'Roboto', sans-serif;
        color: var(--paragraph2-color);
        line-height: 1.5em;
        text-align: justify;
    }

    .header .container h1 {
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .header .container p {
        font-size: 14px;
    }

    .responsive {
        margin-right: 110px;
    }

    span>a {
        color: var(--paragraph2-color);
        opacity: 50%;
    }

    .grid-col-3 {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .footer .container {
        padding: 0;
    }

    .footer .container>.gradient-bg {
        height: auto;
    }

    .footer-content {
        text-align: center;
    }

}
